@import "tailwindcss";
/* 3D utilities */
.perspective-1000 {
  perspective: 1000px;
}

/* smoke effect */
@keyframes smoke {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-120px) scale(1.4);
    opacity: 0;
  }
}

.animate-smoke {
  animation: smoke 2.5s ease-out forwards;
}

@keyframes smoke-heavy {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.85;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -180px) scale(1.6);
    opacity: 0;
  }
}

.animate-smoke-heavy {
  animation: smoke-heavy 5.5s ease-out forwards;
}
